<section id='confirmation'>
    <div class='confirmation-form'>
        <h2>Confirma tu asistencia</h2>
        <form id='rsvp-form'>
            <div>
                <label for='name'>Nombre:</label>
                <input
                    type='text'
                    id='name'
                    name='name'
                    placeholder='Nombre completo'
                    required
                />
            </div>

            <div>
                <label for='attendance'>¿Asistirás?</label>
                <select id='attendance' name='attendance' required>
                    <option value=''>¿Asistirás?</option>
                    <option value='1'>Sí, asistiré</option>
                    <option value='0'>No podré asistir</option>
                </select>
            </div>

            <button type='submit'>Enviar</button>
        </form>
        <div class='response' id='response'></div>
        <div class='errors' id='error'></div>
    </div>
</section>
<script>
    import { isInputError } from 'astro:actions'
    import { actions } from 'astro:actions'
    import JSConfetti from 'js-confetti'

    const jsConfetti = new JSConfetti()

    const form = document.getElementById('rsvp-form') as HTMLFormElement
    const submitButton = form.querySelector(
        "button[type='submit']"
    ) as HTMLButtonElement
    const responseBox = document.getElementById('response') as HTMLDivElement
    const errorBox = document.getElementById('error') as HTMLDivElement

    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        submitButton.disabled = true
        submitButton.textContent = 'Enviando...'
        try {
            const formData = new FormData(form)
            const { name, attendance } = Object.fromEntries(formData.entries())
            const { data, error } = await actions.sendForm({
                name: name as string,
                attendance: attendance as '1' | '0'
            })

            if (data === 'success') {
                errorBox.innerHTML = ''
                const firstName = (name as string).split(' ')[0]
                const attendanceYes = attendance === '1'
                responseBox.textContent = `Hola ${firstName}!`
                form.reset()
                if (attendanceYes) {
                    responseBox.textContent += ` Gracias por confirmar tu asistencia. ¡Nos alegra que puedas acompañarnos en este día tan especial!`
                    jsConfetti.addConfetti({
                        confettiColors: ['#d2b100', '#FFFFFF', '#0F52BA']
                    })
                } else {
                    responseBox.textContent += ` Lamentamos que no puedas asistir, y agradecemos tu confirmación.`
                }
            }
            if (error) {
                responseBox.textContent = `❌ Ocurrió un error al enviar el formulario. Por favor, Revisa Los errores.`
            }
            if (error && isInputError(error)) {
                responseBox.textContent = `❌ Ocurrió un error al enviar el formulario. Por favor, Revisa Los errores.`

                errorBox.innerHTML = ''
                Object.entries(error.fields).forEach(([key, value]) => {
                    const errorItem = document.createElement('p')
                    errorItem.textContent = Array.isArray(value)
                        ? value.join(', ')
                        : value
                    errorBox.appendChild(errorItem)
                })
            }
        } catch (error: Error | any) {
            responseBox.textContent =
                '❌ Ocurrió un error al enviar el formulario. Por favor, intenta de nuevo.'
        } finally {
            submitButton.disabled = false
            submitButton.textContent = 'Enviar'
        }
    })
</script>

<style>
    section {
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
    .response {
        margin-top: 1rem;
        font-weight: bold;
        color: var(--color-text);
        text-align: center;
        text-wrap: balance;
    }
    .errors {
        margin-top: 1rem;
        text-align: center;
        text-wrap: balance;
        p {
            font-size: 1rem;
        }
    }
    .confirmation-form {
        max-width: 800px;
        margin: 2rem auto;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                max-width: 400px;
                label {
                    margin-bottom: 0.5rem;
                    font-weight: bold;
                }
                input {
                    flex: 1;
                    padding: 10px 10px;
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-family: inherit; /* usa el mismo de body */
                    -webkit-appearance: none; /* quita estilos por defecto iOS */
                    appearance: none;
                    outline: none;
                    color: var(--color-text);
                }
                select {
                    flex: 1;
                    padding: 10px 10px;
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    background-color: white;
                    font-family: inherit; /* usa el mismo de body */
                    -webkit-appearance: none; /* quita estilos por defecto iOS */
                    appearance: none;
                    outline: none;
                    color: var(--color-text);
                }
            }
            button {
                padding: 10px 20px;
                background-color: var(--color-white);
                font-family: inherit;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 1rem;
                transition: background-color 0.3s ease;
                padding: 0.4rem 1.5rem;
                background-color: var(--color-gold);
                border: 1px solid rgba(210, 177, 0, 0.5);
                box-shadow: -4px 4px 11px 0px rgba(210, 177, 0, 0.5);
                color: var(--color-white);
                &:hover {
                    background-color: var(--color-white);
                    color: var(--color-gold);
                }
            }
        }
    }
</style>
