---
import Rings from '@/icons/Rings.astro'
import Button from './ui/Button.astro'
---

<section>
    <div class='detail'>
        <Rings class='icon' />
        <h2 class='lines'>Ceremonia & celebración</h2>
        <div class='detail-boxes'>
            <div class='detail-box'>
                <div class='info'>
                    <h4>Día</h4>
                    <p>20 de Diciembre - 4:00pm</p>
                    <Button link='#confirmation'>Confirmar Asistencia</Button>
                </div>
            </div>
            <div class='detail-box'>
                <div class='info'>
                    <h4>Lugar</h4>
                    <p>Pérez Zeledón, San José</p>

                    <Button link='https://maps.app.goo.gl/YrXoXVwfBGquBbTV6'
                        >Direcciones</Button
                    >
                </div>
            </div>
        </div>
    </div>

    <style>
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0rem;
            .icon {
                width: 5rem;
                height: 5rem;
                color: var(--color-text);
            }
            h3 {
                border-top: 1px solid var(--color-primary);
                border-bottom: 1px solid var(--color-primary);
                width: 100%;
                padding: 0.5rem 0;
            }
            div.info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0rem;
                h4 {
                    margin: 0;
                    font-size: 1.5rem;
                }
                p {
                    margin: 0.5rem 0 1rem 0;
                    font-size: 1.3rem;
                }
            }
        }
        .detail-boxes {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 2rem;

            @media (max-width: 900px) {
                flex-direction: column;
                gap: 1rem;
            }
            .detail-box {
                border: 1px solid var(--color-border);
                border-radius: 10px;
                padding: 2rem;
                width: 400px;
                background-color: var(--color-box);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                @media (max-width: 600px) {
                    width: 100%;
                }
            }
        }

        .detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 2rem;
        }
    </style>
</section>
