---
import dress from '../assets/dress.webp'
---

<section>
    <h2 class='lines'>Vestimenta</h2>
    <p>Código de vestimenta: Formal de gala.</p>
    <p>
        Les invitamos a lucir sus mejores galas en tonos elegantes y sobrios.
        Para mantener la armonía de la celebración, les pedimos evitar los
        colores blanco, beige, negro, rojo, zafiro y dorado.
    </p>
    <p>Sugerencias: tonos pasteles, verdes, o metálicos suaves.</p>

    <div class='section-dress'>
        <div class='dress-box'>
            <h3>Hombres</h3>
            <p>Traje formal</p>
            <p>No beige</p>
            <div class='color-men'>
                <div class='color-one'></div>
            </div>
            <p>Corbata o corbatín</p>
            <p>Zapatos</p>
        </div>
        <div class='dress-image'>
            <img src={dress.src} alt='' />
        </div>
        <div class='dress-box'>
            <h3>Mujeres</h3>
            <p>Vestido largo</p>
            <p>No blanco, beige, negro, rojo, zafiro y dorado.</p>
            <div class='color-women'>
                <div class='color-one'></div>
                <div class='color-two'></div>
                <div class='color-three'></div>
                <div class='color-four'></div>
                <div class='color-five'></div>
                <div class='color-six'></div>
            </div>
            <p>Tacones abiertos o cerrados</p>
            <p>Accesorios</p>
        </div>
    </div>
</section>

<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5rem;
    }
    p {
        max-width: 75ch;
        text-wrap: balance;
        margin-bottom: 10px;
        text-transform: none;
    }
    .dress-image {
        display: grid;
        place-items: center;
        img {
            width: 100%;
            max-width: 300px;
            object-fit: contain;
            mix-blend-mode: darken;
        }
    }
    .section-dress {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        margin-top: 50px;

        @media (max-width: 900px) {
            grid-template-columns: 1fr;
        }

        .dress-box {
            min-width: 300px;
            text-align: center;
            p {
                margin-top: 25px;
            }
        }
    }
    .color-men {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        div {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid var(--color-text);
            &.color-one {
                background-color: #cfbfaf;
            }
        }
    }

    .color-women {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        div {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid var(--color-text);
            &.color-one {
                background-color: #ffffff;
            }
            &.color-two {
                background-color: #cfbfaf;
            }
            &.color-three {
                background-color: #000000;
            }
            &.color-four {
                background-color: #ff0a0a;
            }
            &.color-five {
                background-color: var(--color-primary);
            }
            &.color-six {
                background-color: var(--color-gold);
            }
        }
    }
</style>
