---
import GiftsIcon from '@/icons/GiftsIcon.astro'
---

<section>
    <div class='gift-box'>
        <GiftsIcon class='icon icon-1' />
    </div>
    <h2>Regalos</h2>
    <p>Texto para Regalos</p>
</section>

<style>
    section {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .icon {
        width: 5rem;
        height: 5rem;
    }
    .gift-box {
        /* .icon-1 {
            transform: rotate(10deg);
        } */
        .icon-2 {
            transform: rotate(-10deg);
        }
        .icon-3 {
            transform: rotate(20deg);
        }
    }
</style>
