---
import GiftsIcon from '@/icons/GiftsIcon.astro'
---

<section>
    <h2 class='lines'>Regalos</h2>
    <p>Texto para Regalos</p>
    <div class='gift-box'>
        <GiftsIcon class='icon icon-1' />
        <GiftsIcon class='icon icon-2' />
        <GiftsIcon class='icon icon-3' />
    </div>
</section>

<style>
    section {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .icon {
        width: 5rem;
        height: 5rem;
    }
    .gift-box {
        .icon-1 {
            transform: rotate(10deg) translateX(20px) translateY(0);
        }
        .icon-2 {
            transform: rotate(-10deg) translateX(5px) translateY(20px);
        }
        .icon-3 {
            transform: rotate(20deg) translateX(0px) translateY(0px);
        }
    }
</style>
