---
import GiftsIcon from '@/icons/GiftsIcon.astro'
---

<section>
    <h2 class='lines'>Regalos</h2>
    <p>Su compañía es nuestro mayor regalo.</p>
    <p>
        Si además desean bendecirnos, agradeceremos con mucho cariño su aporte
        económico, que nos permitirá construir los sueños de nuestro nuevo
        hogar.
    </p>
    <div class='gift-box'>
        <GiftsIcon class='icon icon-1' />
        <GiftsIcon class='icon icon-2' />
        <GiftsIcon class='icon icon-3' />
    </div>
</section>

<style>
    section {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        p {
            max-width: 75ch;
            text-wrap: balance;
        }
    }
    .icon {
        width: 5rem;
        height: 5rem;
        fill: var(--color-gold);
    }
    .gift-box {
        .icon-1 {
            transform: rotate(10deg) translateX(20px) translateY(0);
        }
        .icon-2 {
            transform: rotate(-10deg) translateX(5px) translateY(20px);
        }
        .icon-3 {
            transform: rotate(20deg) translateX(0px) translateY(0px);
        }
    }
</style>
