---
const { link } = Astro.props
---

<a
    href={link}
    class='button'
    target={link.startsWith('http') ? '_blank' : '_self'}
    rel={link ? 'noopener noreferrer' : undefined}>
    <slot />
</a>

<style>
    .button {
        display: inline-block;
        padding: 0.4rem 1.5rem;
        background-color: var(--color-gold);
        border: 1px solid rgba(210, 177, 0, 0.5);
        box-shadow: -4px 4px 11px 0px rgba(210, 177, 0, 0.5);
        color: var(--color-white);
        text-decoration: none;
        border-radius: 5px;
        font-weight: normal;
        transition: all 0.3s ease;
        font-size: 1.3rem;
        line-height: 1.2;
    }
    .button:hover {
        background-color: var(--color-white);
        color: var(--color-gold);
    }
</style>
